Repository SyneRBI/PETRIC, pull requests merged in 2024-10, with the labels that each got.

#121 evaluation
  SIRF_data_preparation/evaluation_utilities.py
  SIRF_data_preparation/plot_BSREM_metrics.py
  petric.py
Labels: bug, enhancement

#122 Hoffman VOI creation
  SIRF_data_preparation/README.md
  SIRF_data_preparation/create_Hoffman_VOIs.py
Labels: enhancement, data

#127 Siemens Vision600 Hoffman
  .pre-commit-config.yaml
  SIRF_data_preparation/create_Hoffman_VOIs.py
  SIRF_data_preparation/data_QC.py
  SIRF_data_preparation/dataset_settings.py
  SIRF_data_preparation/get_penalisation_factor.py
  SIRF_data_preparation/run_BSREM.py
  SIRF_data_preparation/run_OSEM.py
  petric.py
Labels: enhancement, data

#130 PETRIC_SKIP_DATA option
  petric.py
Labels: enhancement, data

#129 add more options to run_BSREM
  SIRF_data_preparation/run_BSREM.py
Labels: enhancement

#132 add Vision600_Hoffman
  petric.py
Labels: data

#133 NeuroLF Esser dataset
  SIRF_data_preparation/NeuroLF_Esser_Dataset/VOI_prep.py
  SIRF_data_preparation/NeuroLF_Esser_Dataset/prepare.py
  SIRF_data_preparation/create_Hoffman_VOIs.py
  SIRF_data_preparation/dataset_settings.py
  SIRF_data_preparation/registration_utilities.py
  petric.py
Labels: data

#134 Siemens_Vision600_ZrNEMAIQ
  SIRF_data_preparation/Siemens_Vision600_ZrNEMAIQ/prep_VOIs.py
  SIRF_data_preparation/data_QC.py
  SIRF_data_preparation/dataset_settings.py
  SIRF_data_preparation/plot_BSREM_metrics.py
  SIRF_data_preparation/run_BSREM.py
  petric.py
Labels: enhancement, data

#135 GE_D690_NEMA_IQ
  SIRF_data_preparation/GE_D690_NEMA_IQ/README.md
  SIRF_data_preparation/create_Hoffman_VOIs.py
  SIRF_data_preparation/create_NEMA_IQ_VOIs.py
  SIRF_data_preparation/data_QC.py
  SIRF_data_preparation/dataset_settings.py
  SIRF_data_preparation/plot_BSREM_metrics.py
  SIRF_data_preparation/run_BSREM.py
  petric.py
Labels: enhancement, data

#136 added Mediso_NEMA_IQ_lowcounts
  SIRF_data_preparation/dataset_settings.py
  petric.py
Labels: data

#137 GE_DMI4_NEMA_IQ
  SIRF_data_preparation/GE_DMI4_NEMA_IQ/README.md
  SIRF_data_preparation/Mediso_NEMA_IQ_lowcounts/README.md
  SIRF_data_preparation/create_NEMA_IQ_VOIs.py
  SIRF_data_preparation/dataset_settings.py
  petric.py
Labels: data
